<ul class="menu vertical">
  <li class="menu-text">GitHub</li>
  <li><a href="#">http://~~~</a></li>
  <hr>
</ul>
<%= form_tag "/", method: :post do %>
  投稿者名: <%= text_field_tag :user %>
  投稿内容: <%= text_field_tag :comment %>
  <%= submit_tag %>
<% end %>
