<ul class="menu vertical">
  <li class="menu-text">Room 検索</li>
  <li><input type="search" name="name" value=""></li>
  <li class="menu-text">Room 作成</li>
  <li><%= link_to "新規作成", '/boards/new', class: "button alert" %></li>
</ul>
