<div class="row">
  <% @rooms.each do |room| %>
  <div class="small-12 medium-4 columns">
    <div class="callout">
      <img src="http://placehold.jp/400x200.png" alt="" />
      <h3><%= room.title %></h3>
      <p><%= room.description %></p>
      <p class="text-right">
        <%= link_to room.title + "へ入る", "/boards/#{room.id}", class: "button primary" %>
      </p>
    </div>
  </div>
  <% end %>
</div>
